*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.heading{
    color: #ff7675;
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
    font-size: x-large;
    margin: 50px 0px;
    font-family: 'Open Sans', sans-serif;
}
.img_div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_div img{
    width: 250px;
    height: 300px;
    margin: 0px 10px;
    border: 2px solid #ff7675;
    border-radius: 10px ;
}